@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

/* setas */
.swiper-button-next,
.swiper-button-prev {
  color: #000 !important;
}

/* bolinhas inativas */
.swiper-pagination-bullet {
  background-color: #000 !important;
  opacity: 0.5;
}

/* bolinha ativa */
.swiper-pagination-bullet-active {
  background-color: #000 !important;
  opacity: 1;
}